/*common*/
.container {
  max-width: 1052px;
  margin: 0 auto;
}

.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 60%;
}

/*HEADER*/

.header {
  margin: 92px 0 96px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  align-items: center;
  line-height: 24.3px;
}

.header__links-list {
  display: flex;
  gap: 0 calc(13px + 19px);
  text-transform: lowercase;
  padding-top: 4px;
}

.header__links-list-item:not(:first-child) {
  list-style: circle;
}

.header__link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border: none;
}

.header__logo-image {
  display: flex;
  width: 148px;
  height: 105px;
}

.address {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 236px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.address_commonstyle {
  border-bottom: 1px solid #000;
  transition: all .3s;
}

.align-right {
  margin-left: auto;
}

.address__local {
  text-align: left;
}

.link-hover-effect:hover {
  background-color: #dfdddd;
  border-radius: 4px;
  color: #0077ff;
}

/*intro*/
.intro {
  position: relative;
  color: #fff;
  padding: 160px 50px 50px 50px;
  margin-bottom: 179px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 757px;
}

.intro__header {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  z-index: 1;
}

.intro__group_common {
  display: block;
}

.intro__group {
  display: flex;
  align-items: center;
}

.intro__group_leftstyle {
  line-height: 115%;
}

.intro__group_centerstyle {
  justify-content: center;
  line-height: 100%;
}

.intro__group_rightstyle {
  justify-content: flex-end;
  line-height: 100%;
}

.intro__group_ls30 {
  letter-spacing: 30px;
}

.intro__group_ls60 {
  letter-spacing: 60px;
}

.intro__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  z-index: 1;
}

.intro__footer-subtitle {
  padding-left: 27px;
  word-spacing: 18px;
}

.intro__footer-button {
  display: inline-block;
  padding: 12px 32px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in;
  margin-left: 30px;
}

.intro__footer-button:hover {
  background-color: #fff;
  color: #000;
}

.intro-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 135px;
}

/*LOTS*/
.lots {
  margin-bottom: 146px;
}

.lots__title {
  margin-left: 40px;
  margin-bottom: 27px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.card-item__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  max-height: 105px;
  overflow: hidden;
  z-index: 1;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots__card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 334px;
  height: 564px;
  padding: 51px 40px 48px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.lots__card-item_img-first {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-item_img-second {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-item_img-third {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  overflow: hidden;
  z-index: 1;
}

.lots__link {
  margin-left: 40px;
  border-bottom: 1px solid #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

/*auction*/
.auction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.auction__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 47px;
}

.auction__img {
  width: 148px;
  height: 114px;
}

.auction__body {
  margin-top: 133px;
  max-width: 693px;
}

.auction__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.auction__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 24px;
}

.auction__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/*Footer*/
.footer {
  margin-bottom: 88px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 25px;
}

.footer__link_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
}

.footer_link {
  display: inline-block;
  border-bottom: 1px solid #000;
  transition: all .3s;
}

.footer__social-link {
  display: flex;
  justify-content: space-between;
  column-gap: 48px;
}

.footer__social-link-common {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  transition: all 0.3s;
}_

.footer__youtube {
  background-image: url(../images/yt.svg);
}

.footer__youtube:hover {
  background-color: #ff0000;
}

.footer__vk {
  background-image: url(../images/vk.svg);
}

.footer__vk:hover {
  background-color: #0077ff;
}

.footer__pinterest {
  background-image: url(../images/pinterest.svg);
}

.footer__pinterest:hover {
  background-color: #e60023;
}

